*{
    margin: 0;
    box-sizing: border-box;
}
img{
    display: block;
}
html{
    --main-color:rgb(0, 174, 125);
    --main-color-hover:rgb(0, 75, 205);
}
ul , ol{
    list-style-type: none;
    list-style: none;
}

/* Header styles */
.site-header{
    display: flex;
    border-bottom: 1px solid var(--main-color);
    height: 5rem;
}
.home-page-link{
    display: flex;
    align-items: center;
}
.home-page-link .home-icon{
    max-width: 100%;
}
.header-middle-area{

    flex: 0 1 50%;

}
.header-icon{
    height: 60%;
    max-width: 30%;
    margin:0 .7rem;
}
.header-middle-area .header-list-container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-items: center;
}
.header-middle-area .header-list-container li > a {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Quicksand','Times New Roman', Times, serif;
    font-size: 1.2rem;
    padding: 0 1rem;
}
.header-middle-area .header-list-container li{
    flex: 1;
    height: 100%;
    border-right: 3px solid var(--main-color);
    border-radius: 6px;
    transition: .3s;
    cursor: pointer;
}
.header-middle-area .header-list-container li:hover{
    border-right: 3px solid var(--main-color-hover);
}


/* Main section styles */

.site-wrapper{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: max-content 1fr;
    margin-top: 2rem;
}

.site-aside{
    margin: 0 1rem;
    visibility: hidden;

}

.site-content-area{}

.site-content-area .home-page-toturials{
    padding: 1.5rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border: 1px solid black;
}

.site-content-area h1{

    font-family:'Cinzel', 'Quicksand' ,'Times New Roman', Times, serif;
    font-size: 1.7rem;
    /* font-weight: 700; */
    line-height: 5rem;
    border-left: 4px solid var(--main-color);
    border-radius: 15px;
    margin-bottom: 1rem;
    padding-left: 1.2rem;

}
/* .grediant-text{
    background: radial-gradient(circle,  rgb(106, 0, 168) 100%,rgb(0, 43, 185) 0%);
    background-clip: content-box;
    color: transparent;
    -webkit-background-clip: text;
} */

/* Toturial item styles */
.toturial-item{
    padding: 1rem;
    margin-left: 2rem;
    box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    border: 1px solid var(--main-color-hover);
}

.toturial-item .toturial-title{
    font-family: 'Dosis', 'Quicksand' ,'Times New Roman', Times, serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .8rem;
}
.toturial-item .toturial-image{
    width: 150px;
    max-height: 150px;
    float: left;
    margin-right: 1.5rem;
}
.toturial-item .toturial-meta-div{
    position: relative;
    clear: both;
}

.toturial-item .toturial-abstract{
    font-family: 'Red Hat Display','Times New Roman', Times, serif;
    text-indent: 1.3rem;
    font-size: 1.1rem;

}

.toturial-item .toturial-abstract::before{

    content: '♦ Abstract: ';
    color: #333;
    font-size: 1.3rem;
    font-family: 'Cinzel', 'Times New Roman', Times, serif;
}